  <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label  >A gyms zone application can be a great tool for gym-goers to find and compare gyms in their area.
    Here are some features that could be included in such an application:

    <pre class="pre">
      •	Gym Search
    
      •	Gym Details
      
      •	Reviews and Ratings
      
      •	Membership Plans
      •	Booking
      
      •	Notifications
      
      •	User Profile
    </pre>
  </ion-label>

</ion-content>
