<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>GYM Zone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card-header >
    <div class="title">
     
        <h2>Change Password</h2>
    </div>
</ion-card-header>
  <div id ="A1" >

   <form (ngSubmit)="onSubmit(passwordForm)" #passwordForm="ngForm">
     <ion-card-content> 
      <ion-item  >
      <ion-input [(ngModel)]="cuurentPassword" name ="cuurentPassword" 
      [type]="showPassword ? 'text' : 'password'" placeholder="Current password" required></ion-input>
      <ion-icon solt="end" [name]="passwordToggleIcon"  click="togglePassword()"></ion-icon>
      
      </ion-item>
    </ion-card-content> 

   <ion-card-content> 
    <ion-item  >
      <ion-input  [(ngModel)]="newPassword" name ="newPassword" [type]="showPassword ? 'text' : 'password'" placeholder="New password" required></ion-input>
      <ion-icon solt="end" [name]="passwordToggleIcon"  click="togglePassword()"></ion-icon>
    
    </ion-item>
   </ion-card-content> 

    <ion-card-content> 
      <ion-item  >
        <ion-input [(ngModel)]="confirmPassword"  name ="confirmPassword" [type]="showPassword ? 'text' : 'password'" placeholder="Confirm  password" required></ion-input>
        <ion-icon solt="end" [name]="passwordToggleIcon"  click="togglePassword()"></ion-icon>
     
      </ion-item >
     </ion-card-content > 
    
   
   <div id="container">
    
    <ion-card-content> 
      <p> <ion-button expand= "block" class="main-button" shape="round" type = "submit" [disabled]="passwordForm.invalid" >save</ion-button> </p>
      </ion-card-content>
     

     

   </div>
   </form>
 </div>
</ion-content>
